<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-header bg-light d-flex align-items-center">
            <span>@Content?.Name</span>
            <div class="ms-auto">
                <button @onclick=ExpandedAsync class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseWrapper@(Content?.LocationId)">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </div>
        </div>
        <div class="overflow-auto">
            <div id="collapseWrapper@(Content?.LocationId)" class="collapse @expandedClass">
                <div class="card-body position-relative">
                    @if (items is not null)
                    {
                        <ul class="list-group">
                            @foreach (var item in items)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>@item.Name</span>
                                    <div class="d-flex align-items-center">
                                        <button @onclick="@(async () => await DecreaseQuantityAsync(item))" class="btn btn-sm btn-secondary me-2">-</button>
                                        <span>@item.Quantity</span>
                                        <button @onclick="@(async () => await IncreaseQuantityAsync(item))" class="btn btn-sm btn-secondary ms-2">+</button>
                                    </div>
                                </li>
                            }
                        </ul>
                        <form class="mt-3 input-group" @onsubmit=AddItemAsync>
                            <input @bind-value=newItem type="text" class="form-control" placeholder="Item Name" />
                            <button class="btn btn-success">Add</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
